.button
{
  position: relative;
  text-align: center;
  width: 250px;
  padding: 0,5px;
  font-size: 17px;
  color: #080808;
 
  font-weight: 200;
  border: px  #def415;
  text-transform: none;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 80px;
  transition: 1,8s;

}

.button:hover
{
  box-shadow: 0 5px 50px 0 #159bf4 inset, 0 5px 50px 0 #0872ec,
              0 5px 50px 0 #86852c inset, 0 5px 50px 0 #8f8e44;
  text-shadow: 0 0 5px #000000, 0 0 5px #000000;            
}